<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" >
<title>Oyun Sensin</title>

<link rel="stylesheet" href="assets/css/reset.css" type="text/css" charset="utf-8">
<link rel="stylesheet" href="assets/css/global.css" type="text/css" charset="utf-8">

<script src="assets/js/jquery-1.4.2.js" type="text/javascript"></script>
<script src="assets/js/global.js" type="text/javascript"></script>
<script src="assets/js/animation.js" type="text/javascript"></script>

<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-11606379']);
    _gaq.push(['_trackPageview']);
    
    (
        function() 
        {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        }
    )();
</script>
<script type="text/javascript"><!--
    google_ad_client = "pub-6619946615733389";
    /* anasayfa, 300x250, 12.10.2010, sag ust, oyunsensin */
    google_ad_slot = "7675435599";
    google_ad_width = 300;
    google_ad_height = 250;
    //-->
</script>
                    

</head>

<body>
<div id="innerShadow">
    <img src="assets/img/html/kas.png" id="innerShadow" />
</div>
<div id="white_shadow_background">

    <!-- TOP -->
    <div id="top">
        <div id="yellow_lights"></div>
        <div id="clouds"></div>
        <div id="logo"></div>
    </div>
    
    <!-- MAIN -->
    <div id="main">
        <div id="game_area">
        
            <!-- MAIN LEFT BOX -->
            <div id="main_left_box" class="radius_border">
            
                <!-- random game image -->
                <div id="random_game_image">
                    <img src="assets/img/html/gameImages/gameImage1.png" />
                </div>
                
                <!-- game texts -->
                <div id="game_texts">
                    <div id="random_game_header">
                        <strong><p class="randomGameText GothamRoundedMedium">Good Ol' Poker</p></strong>
                    </div>
                    <div id="random_game_description">
                        <p class="randomGameDescription GothamRoundedBook">Yaratık Bash'e zorlu macerasında yardım edin. Bir yaratığın karşısına çıkabilecek tüm engelleri aşın, puan toplayın.</p>
                    </div>
                </div>
                
                <!-- play game button -->
                <div id="random_game_play_button">
                    <a href="http://www.google.com" target="_blank"></a>
                </div>
                
            </div>
            
            <!-- MAIN RIGHT BOX -->
            <div id="main_right_box">
                
                <!-- banner -->
                <div id="banner" class="radius_border">
                    <script type="text/javascript"
                        src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
                    </script>
                </div>
                
                <!-- find random game button -->
                <div id="random_game_button_area" class="radius_border">
                    <div id="random_game_button">
                        <a href="http://www.google.com" target="_blank"></a>
                    </div>
                </div>
                
            </div>
            
        </div>
        
        <!-- TWITTER -->
        <div id="twitter" class="radius_border">
            <span class="twitterHeader GothamRoundedMedium">TWITTER :</span><span class="twitterText GothamRoundedBook"> Sitemize google reklamlarını eklemeye başladık. Sizlerin kullanıcı deneyiminizi...</span>
        </div>
    </div>
</div>
</body>
</html>
